.container {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.photoCont {
  width: 100%;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.8),
      rgba(46, 47, 66, 0.8)
    ),
    url(https://res.cloudinary.com/ddqtzq55a/image/upload/v1738249381/%D1%82%D0%B5%D1%80%D0%B8%D1%82%D0%BE%D1%80%D1%96%D1%8F-4_sirg77.jpg);
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  color: whitesmoke;
}

.subtitle {
  color: goldenrod;
}

.subroute {
  color: goldenrod;
}

.contactsAddress {
  margin-bottom: 15px;
}

.contactsText {
  color: whitesmoke;
  font-size: 20px;
}

.text {
  color: whitesmoke;
  text-align: justify;
}

.link {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  transition: color 0.5s ease;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 30px;
}

.icon {
  width: 20px;
  height: 20px;
}

.link:hover {
  color: goldenrod;
}

.addText {
  color: whitesmoke;
  transition: color 0.5s ease;
  text-decoration: none;
}

.addText:hover {
  color: goldenrod;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 16px 32px;
  }
  .title {
    font-size: 28px;
  }

  .contactsText {
    font-size: 24px;
  }

  .addText {
    font-size: 20px;
  }

  .text {
    font-size: 18px;
  }

  .link {
    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 32px 48px;
  }

  .title {
    font-size: 32px;
  }

  .contactsText {
    font-size: 28px;
  }

  .addText {
    font-size: 24px;
  }

  .text {
    font-size: 22px;
  }
}
