.navDesktop {
  display: none;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdropOpen {
  opacity: 1;
  pointer-events: auto;
}

.navMobile {
  position: fixed;
  top: 80px;
  bottom: 80px;
  right: 0;
  width: 70%;
  height: 70%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 15px;
  border-radius: 10px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.navMobileOpen {
  transform: translateX(-20%);
}

.closeBtn {
  padding: 10px;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 10px;
  right: 10px;
  margin-bottom: 20px;
  color: goldenrod;
}

.ioClose {
  width: 30px;
  height: 30px;
}

.openBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: goldenrod;
  cursor: pointer;
  transition: background-color 0.5s ease, color, transform 0.5s ease;
}

.linkMob {
  text-decoration: none;
  color: goldenrod;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .navMobile {
    display: none;
  }

  .backdrop {
    display: none;
  }

  .openBtn {
    display: none;
  }

  .navDesktop {
    display: flex;
    gap: 10px;
  }

  .linkDesk {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.5s ease;
  }

  .linkDesk:hover {
    color: goldenrod;
  }

  .active {
    color: goldenrod;
    text-decoration: overline;
  }
}

@media screen and (min-width: 1440px) {
  .navDesktop {
    gap: 30px;
  }

  .linkDesk {
    font-size: 20px;
  }
}
