.footer {
  position: relative;
  padding: 8px 16px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.22), 0 -2px 2px rgba(0, 0, 0, 0.34),
    0 -4px 4px rgba(0, 0, 0, 0.28), 0 -8px 8px rgba(0, 0, 0, 0.22);
}

.logo {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.formCont {
  background-color: transparent;
  padding: 8px;
  margin-bottom: 10px;
}

.formTitle {
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid;
  border-color: goldenrod;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: color 0.5s ease;
}

.formTitle:hover {
  color: goldenrod;
}

.icon {
  width: 20px;
  height: 20px;
  color: goldenrod;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-heigth 0.5s ease-out, padding 0.5s ease-out;
  margin-bottom: 20px;
}

.accordionContent.open {
  max-height: 300px;
  padding: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 5px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid goldenrod;
  outline: none;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
}

.textarea {
  width: 100%;
  height: 60px;
  resize: none;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: goldenrod;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.btn:hover {
  background-color: darkgoldenrod;
  transform: scale(1.1);
}

.btn:active {
  outline: none;
  color: black;
  transform: scale(0.95);
}

.privacyLink {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  transition: color 0.5s ease;
}

.privacyLink:hover {
  color: goldenrod;
}

.icon {
  width: 30px;
  height: 30px;
}

.link:hover {
  color: goldenrod;
}

.footerLinksCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footerLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 2px 2px rgba(0, 0, 0, 0.34),
    0 4px 4px rgba(0, 0, 0, 0.28), 0 8px 8px rgba(0, 0, 0, 0.22);
  transition: transform 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}

.footerLink:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.3),
    0 8px 16px rgba(0, 0, 0, 0.22), 0 16px 32px rgba(0, 0, 0, 0.15);
}

.footerIcon {
  color: goldenrod;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .formTitle {
    position: absolute;
    top: 16px;
    left: 100px;
    width: 280px;
    font-size: 18px;
  }

  .accordionContent {
    position: absolute;
    top: 70px;
    left: 100px;
    width: 280px;
  }

  .privacyLink {
    font-size: 18px;
    position: absolute;
    top: 26px;
    left: 400px;
  }

  .footerLinksCont {
    position: absolute;
    top: 16px;
    right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 32px 48px;
    align-items: baseline;
  }

  .text {
    font-size: 18px;
  }

  .formTitle {
    top: 32px;
    left: 150px;
    width: 320px;
    font-size: 18px;
  }

  .accordionContent {
    top: 86px;
    left: 150px;
    width: 320px;
  }

  .privacyLink {
    top: 42px;
    left: 650px;
  }

  .footerLinksCont {
    top: 32px;
  }

  .link {
    color: inherit;
    font-size: 18px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid goldenrod;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: color 0.5s ease;
  }
}
